.container
	margin-top: 70px

.prev
	align-items: center
	display: -webkit-box  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox  /* TWEENER - IE 10 */
	display: -webkit-flex /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex
	
	height: 100vh
	width: 100%
	h2
		margin: 0
		text-align: center

@import contentMediaQuery

.footer
	padding: 0.4rem
	text-align: center
	p
		font-size: 0.7rem
		margin-bottom: 0
		margin-top: 0.4rem